.container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}


/*Navigation*/

.navigation {
    display: flex;
    /* color: #4285f4; */
    justify-content: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navigation ul li {
    padding: 5px;
}

.navigation ul li:hover,
.prev:hover,
.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.prev,
.next {
    position: relative;
    top: 5px;
    padding: 0px 30px;
    color: #4285f4;
}

.prev {
    visibility: hidden;
}

.inherit-color-bth {
    color: #4285f4;
}

.activeCl {
    color: #000;
}