/* .header{                                     Get the weather forecast(2)
    text-align: center;
}
.wrapper {
    margin: auto;
    width: 200px;
    height: 350px;
    border: 2px solid rgb(3, 105, 3);
}
.weather-box * {
    text-align: center;
}
.city-name {
    color: rgb(3, 105, 3);
    font-size: 25px;
    font-weight: bold;
}
.degree {
    font-size: 30px;
    font-weight: 700;
}
.button-primary {
    width: 100px;
    height: 40px;
    background: rgb(3, 105, 3);
    border: 1px solid rgb(3, 105, 3);
    font-size: 18px;
    display: block;
    margin-left: 50px;
}
.line {
    width: 130px;
}
 */


/*  .header{                                   Obtaining data about user(3)
    text-align: center;
}
 p {
     display: inline;
     font-size: 25px;

 }
 .about-user {
     font-weight: bold;
 } */

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(16, 88, 70);
    color: white;
    text-align: center;
}