table {
    margin-top: 20px;
}

td {
    border: 2px solid black;
    padding: 10px;
}

#pagination {
    display: flex;
    list-style: none;
}

#pagination li {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    font-weight: bolder;
}

#pagination li:hover {
    cursor: pointer;
    color: firebrick;
    border: 2px solid firebrick;
}