html {
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body {
    background: rgb(244, 199, 199);
    padding: 20px 20px 20px 20px;
    text-align: justify;
    max-width: 760px;
    margin: 0 auto;
}
p {
    font-size: 20px;
    font-family: Libre Baskerville;
}
h1, h2 {
    color: rgb(224, 32, 32);
    font-size: 30px;
    border-bottom: 2px solid rgb(224, 32, 32);
    padding-top: 20px;
}
.first {
    float: left;
    margin-right: 30px;
}
.second {
    height: 270px;
    display: block;
    margin: 30px 10px 10px 10px;
    margin: auto; 
}
#logo {
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    border: 2px solid rgb(114, 37, 184);
    border-radius: 20px 20px 20px 20px;
}
.note {
    border: 2px double black;
    padding: 10px 10px 10px 10px;
    height: 200px;
    margin: 5px 5px 5px 5px;
}
#people {
    float: left;
    padding-right: 20px;
    height: 180px;
}
a {
    text-transform: uppercase;
}
a:link {
    color: mediumvioletred;
}
a:visited {
    color: mediumslateblue;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active {
    color: darkblue;
}
.butt {
    border: 2px solid blueviolet;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}


